@model FirstMvc.Models.User

@{
    ViewData["Title"] = "User Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { @Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
